/* variables, fuentes y reset */
:root {
    --dark: #000000;
    --dark-75: rgba(0, 0, 0, 0.75);
    --red: #c7000b;
    --red-66: rgba(199, 0, 11, 0.66);
    --white: #ffffff;
    --white-85: rgba(255, 255, 255, 0.85);
    --white-55: rgba(255, 255, 255, 0.55);
    --font-logo: "Nexa", sans-serif;
    --font-default: "Verdana", sans-serif;
    --btn-size: .9rem 2.2rem;
    --btn-sm-size: .8rem 1rem;
    --page-margin: clamp(2rem, 0rem + 8.8889vw, 6rem);

}

@font-face {
    font-family: "Nexa";
    src: url("assets/fonts/nexa//Nexa-Heavy.ttf") format("truetype"),
        url("assets/fonts/nexa/nexa-heavy-webfont.woff2") format("woff2"),
        url("assets/fonts/nexa/nexa-heavy-webfont.woff") format("woff");
}

@font-face {
    font-family: "Engravers-MT";
    src: url("assets/fonts/engravers-mt/Engravers-MT.ttf") format("truetype"),
        url("assets/fonts/engravers-mt/engravers-mt-webfont.woff2") format("woff2"),
        url("assets/fonts/engravers-mt/engravers-mt-webfont.woff") format("woff");
}

@font-face {
    font-family: "Vogue";
    src: url("assets/fonts/vogue/Vogue.ttf") format("truetype"),
        url("assets/fonts/vogue/vogue-webfont.woff2") format("woff2"),
        url("assets/fonts/vogue/vogue-webfont.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* propiedades generales y elementos compartidos */
html {
    background-color: var(--dark);
    font-family: var(--font-default);
    color: var(--white);
    text-align: left;
}

.btn-primary {
    background-color: var(--red);
    padding: var(--btn-size);
    color: var(--white);
    font-size: clamp(1.15rem, 1.1071rem + 0.1558vw, 1.3rem);
    text-transform: uppercase;
    border: none;
    border-radius: 2rem;
    cursor: pointer;

    a {
        text-decoration: none;
        color: var(--white);
    }

    &:hover {
        background-color: var(--red-66);
    }
}

.btn-secondary {
    background-color: transparent;
    padding: var(--btn-size);
    color: var(--red);
    font-size: clamp(1.15rem, 1.1071rem + 0.1558vw, 1.3rem);
    text-transform: uppercase;
    border-radius: 2rem;
    border: 2px solid var(--red);
    cursor: pointer;

    a {
        text-decoration: none;
        color: var(--red);
    }

    &:hover {
        border: 2px solid var(--red-66);

        a {
            color: var(--red-66);
        }
    }
}

.btn-sm {
    padding: var(--btn-sm-size);
    font-size: 1rem;
}

.title {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: clamp(0.8rem, 2vw, 1.2rem);
    padding-top: clamp(3.5rem, 10vw, 7rem);

    .line-vertical {
        width: 6px;
        height: clamp(50px, 10vw, 77px);
        background-color: var(--red);
        border-radius: 10px;
    }

    h2 {
        font-size: clamp(2.4rem, 2.2857rem + 0.4156vw, 2.8rem);
        font-family: var(--font-default);
        font-weight: bold;
    }
}

h3 {
    font-size: clamp(1.7rem, 1.5857rem + 0.4156vw, 2.1rem);
    font-weight: bold;
}

h4 {
    font-size: clamp(1.4rem, 1.2857rem + 0.4156vw, 1.8rem);
    font-weight: bold;
}

h5 {
    font-size: clamp(1.1rem, 0.9857rem + 0.4156vw, 1.5rem);
    font-weight: normal;
    color: var(--white-55);
}

.dividing-line {
    display: flex;
    align-items: center;
    gap: clamp(1.5rem, 0.25rem + 5.5556vw, 4rem);
    margin: var(--page-margin) 0;

    .line {
        flex: 1;
        height: 1px;
        background-color: var(--red-66);
    }

    .icon {
        width: clamp(3.125rem, 1.875rem + 5.5556vw, 5.625rem);
        height: auto;
    }
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--dark-75);
    z-index: 1;
}

.burger {
    width: 35px;
    height: 20px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    display: none;
    cursor: pointer;
    z-index: 1001;

    span {
        width: 100%;
        height: 1px;

        display: inline-block;

        border: 1px solid var(--white);
        border-radius: 5px;
    }
}

.media-footer {
    display: none;
}

/* hero section */
.hero {
    background-image: url("assets/img/hero-background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
        margin: 0 var(--page-margin);
        padding-top: 1rem;

        .name-logo {
            flex: 1;
            font-family: var(--font-logo);
            text-transform: uppercase;
            font-size: clamp(1.75rem, -0.625rem + 10.5556vw, 6.5rem);
            color: var(--red);
        }

        nav {
            flex: 1;

            ul {
                list-style: none;

                display: flex;
                justify-content: flex-end;
                align-items: center;

                gap: clamp(1rem, 2vw, 2rem);

                li {
                    cursor: pointer;

                    a {
                        text-decoration: none;
                        text-transform: capitalize;
                        font-size: clamp(1rem, 0.75rem + 1.1111vw, 1.5rem);
                        color: var(--white);

                        &:hover {
                            color: var(--white-55);
                        }
                    }
                }
            }
        }
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding-bottom: clamp(2.5rem, 5vh, 4rem);

        .listen-media-container {
            background-image: url("assets/img/listen-shape.png");
            background-repeat: no-repeat;
            background-position: right;
            background-size: 100% 100%;

            display: flex;
            justify-content: flex-end;
            align-items: center;

            margin-left: auto;
            /* empuja el contenedor al borde derecho, usa todo el espacio disponible a la derecha */
            margin-bottom: 2rem;

            .listen-media {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1.2rem;
                padding: 1.5rem .7rem;

                a {
                    display: inline-block;

                    .icon {
                        width: clamp(25px, 3vw, 35px);
                        height: auto;
                        cursor: pointer;
                    }
                }
            }
        }

        h1 {
            font-family: "Engravers-MT";
            text-transform: uppercase;
            color: var(--white-55);
            font-size: clamp(1.375rem, -0.1375rem + 6.7222vw, 4.4rem);
            font-weight: 100;
            text-align: center;
        }

        p {
            font-size: clamp(1rem, 0.75rem + 1.1111vw, 1.5rem);
            width: 90%;
            max-width: 750px;
            text-align: center;
        }

        .hero-btns {
            display: flex;
            gap: 3rem;
            padding-top: 1.5rem;
        }
    }
}

/* stats section */
.stats {
    background-color: var(--red-66);

    .stats-content {
        padding: clamp(2rem, 8.8889vw, 6rem) 2rem;
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: clamp(1.5rem, -0.25rem + 7.7778vw, 5rem);

        .stat {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: clamp(1.1rem, 0.775rem + 1.4444vw, 1.75rem);

            .icon {
                width: clamp(1.25rem, 0.625rem + 2.7778vw, 2.5rem);
                height: auto;
            }
        }
    }
}

/* bio section */
.biography {
    padding-bottom: clamp(6rem, 12vw, 15rem);

    .biography-content {
        margin: 0 var(--page-margin);

        .photo-text {
            display: flex;
            align-items: center;
            gap: 3rem;

            p {
                margin-top: 4rem;
                font-size: clamp(1rem, 0.75rem + 1.1111vw, 1.5rem);
            }

            .text {
                display: flex;
                flex-direction: column;
                gap: clamp(0.4rem, 1vw, 0.8rem);

                .quote {
                    background-color: var(--red-66);
                    border-radius: 0 clamp(4rem, 15vw, 20vw) clamp(4rem, 15vw, 20vw) 0;

                    margin-top: 4rem;
                    margin-left: calc(var(--page-margin) * -1);
                    margin-right: auto;
                    /* para que no se estire a todo lo ancho */

                    font-style: italic;
                    font-size: clamp(1rem, 0.75rem + 1.1111vw, 1.5rem);
                    padding: clamp(1rem, 3vw, 2rem) clamp(3rem, 8vw, 6rem);
                    color: var(--white-85);
                }

            }

            .social-media {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-right: clamp(1.5rem, 6vw, 9rem);
                gap: clamp(0.4rem, 1vw, 0.8rem);

                img {
                    width: clamp(25px, 3vw, 35px);
                    height: auto;
                    cursor: pointer;
                }
            }

            .jud {
                max-width: 45%;
                height: auto;
                margin-top: 1rem;
            }
        }

        .top-separation {
            /* para separar ambos albums entre si*/
            padding-top: 6rem;
        }

        .album-text {
            margin-top: var(--page-margin);

            .line {
                display: flex;
                align-items: center;

                background-color: var(--red-66);

                margin-left: calc(var(--page-margin) * -1);
                margin-right: calc(var(--page-margin) * -1);

                .album-info {
                    padding: 2rem;

                    h4 {
                        margin-bottom: 1.6rem;
                    }

                    p {
                        font-size: clamp(1rem, 0.75rem + 1.1111vw, 1.5rem);
                    }
                }

                img {
                    width: 100%;
                    height: auto;
                }

                .left-align {
                    text-align: left;
                    padding-right: var(--page-margin);
                }

                .right-align {
                    text-align: right;
                    padding-left: var(--page-margin);
                }
            }

            .radius-right {
                border-radius: 0 clamp(4rem, 15vw, 20vw) clamp(4rem, 15vw, 20vw) 0;
                margin-right: var(--page-margin);
                padding-left: var(--page-margin);
            }

            .radius-left {
                border-radius: clamp(4rem, 15vw, 20vw) 0 0 clamp(4rem, 15vw, 20vw);
                margin-left: var(--page-margin);
                padding-right: var(--page-margin);
            }
        }
    }
}

/* discography section */
.discography {
    position: relative;
    background-image: url(assets/img/discography-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 10rem;

    .discography-content {
        position: relative;
        margin: 0 var(--page-margin);
        z-index: 10;

        h3 {
            margin-top: 4rem;
            padding-left: 1.5rem;
        }

        h4 {
            margin: 3.2rem 0;
            padding-left: 1.5rem;
        }

        .listen-media-container {
            position: absolute;
            top: 18%;
            right: calc(var(--page-margin) * -1);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            background-image: url("assets/img/listen-shape.png");
            background-repeat: no-repeat;
            background-position: right;
            background-size: 100% 100%;

            width: fit-content;
            /* ancho basado en iconos */
            margin-left: auto;

            .listen-media {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1.7rem;
                padding: 2.4rem 1rem;

                a {
                    display: inline-block;

                    .icon {
                        width: 45px;
                        height: auto;
                        cursor: pointer;
                    }
                }
            }
        }

        .tracks {
            margin-top: 3rem;
            padding-left: 1.5rem;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 2rem;

            .track {
                display: flex;
                align-items: center;
                gap: 2rem;
                width: 55%;

                span {
                    color: var(--white-85);
                    font-size: clamp(1.4rem, 1.2857rem + 0.4156vw, 1.8rem);
                }

                iframe {
                    flex: 1;
                    height: 152px;
                }

            }
        }

        .albums,
        .singles {
            column-gap: 5rem;
            /* separa en horizontal */
            row-gap: 1rem;
            /* separa en vertical */
        }

        .albums {
            padding: 0 1.5rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            iframe {
                flex: 1;
                height: 470px;
                width: 100%;
            }
        }

        .singles {
            padding: 0 1.5rem;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;

            .column {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                min-width: 330px;
            }
        }
    }
}

/* tour section */
.tour {
    position: relative;

    .tour-background {
        position: relative;
        background-image: url(assets/img/tour-background.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-bottom: 5rem;

        .tour-content {
            position: relative;
            margin: 0 var(--page-margin);
            z-index: 10;
            display: flex;
            flex-direction: column;
            gap: 3rem;

            h3 {
                margin-top: 2rem;
                margin-bottom: 2.5rem;
                padding-left: 1.5rem;
            }

            .concert {
                padding-left: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 2rem;

                .date {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    width: 80px;

                    .month {
                        font-size: 1.1rem;
                    }

                    .day {
                        font-size: 2.5rem;
                    }

                    .year {
                        font-size: .8rem;
                    }
                }

                .place {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex: 1;
                    gap: .3rem;
                    max-width: 22%;

                    .city {
                        font-size: 1.5rem;
                    }

                    .event {
                        font-size: 1.3rem;
                        color: var(--white-85);
                    }
                }
            }
        }
    }

    h4 {
        margin-left: var(--page-margin);
        margin-top: 4rem;
    }

    h5 {
        margin-left: var(--page-margin);
        margin-top: 1rem;
        margin-bottom: 4rem;
    }

    .map-container {
        position: relative;
        margin: 0 auto;
        width: 90%;
        max-width: 1200px;
        aspect-ratio: 16 / 9;
        /*  mantiene proporción del mapa */

        .map-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        /* contenedor de cada marker */
        .marker-interaction {
            position: absolute;
            display: flex;
            align-items: center;
            gap: 1rem;

            .marker {
                width: clamp(1rem, 0.9rem + 0.4444vw, 1.2rem);
                height: auto;
                cursor: pointer;
            }

            .popup {
                display: none;
                margin-top: 6px;
                background: var(--dark-75);
                padding: 0.4rem 0.8rem;
                border-radius: 6px;
                font-size: clamp(0.7rem, 0.55rem + 0.6667vw, 1rem);
            }

            &:hover .popup {
                display: block;
            }
        }

        .sao-paulo {
            top: 74.5%;
            left: 35.5%;
        }

        .santiago {
            top: 81%;
            left: 29.8%;
        }

        .medellin {
            top: 62.5%;
            left: 28.5%;
        }

        .london {
            top: 39.5%;
            left: 46.4%;
        }

        .paris {
            top: 42%;
            left: 47%;
        }
    }

    .map-cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        margin-top: 4rem;

        font-size: clamp(1rem, 0.75rem + 1.1111vw, 1.5rem);
        color: var(--white-85);
        text-align: center;
    }
}

/* contact section */
.contact {
    .contact-content {
        margin: 0 var(--page-margin);
        padding-top: 1rem;
        padding-bottom: 6rem;

        .form-text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10rem;

            .contact-form {
                margin-top: 4rem;
                flex: 1;

                form {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;
                    gap: 2rem;

                    input[type="text"],
                    input[type="email"],
                    select,
                    textarea {
                        border: 1px solid var(--red);
                        padding: 12px;
                        font-family: var(--font-default);
                        background-color: transparent;
                        color: var(--white);
                    }

                    select {
                        cursor: pointer;
                    }

                    input::placeholder,
                    textarea::placeholder {
                        color: var(--white-85);
                    }

                    input:focus,
                    textarea:focus,
                    select:focus {
                        outline: none;
                        border-color: var(--red);
                    }
                }

                textarea {
                    height: 150px;
                    resize: vertical;
                }

                .purpose {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 0.5rem;

                    label {
                        font-size: 1.1rem;
                        font-family: var(--font-default);
                    }

                    select {
                        -webkit-appearance: none;
                        appearance: none;
                        background: transparent;
                        width: 100%;
                        color: var(--white-85);

                        option {
                            background: var(--dark);
                            color: var(--white-85);
                        }
                    }
                }

                .form-footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 3rem;

                    input[type="checkbox"] {
                        -webkit-appearance: none;
                        appearance: none;
                        width: 23px;
                        height: 23px;
                        border: 1px solid var(--red);
                        cursor: pointer;
                        flex-shrink: 0;
                    }

                    input[type="checkbox"]:checked {
                        background-color: var(--red-66);
                    }

                    .privacy {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 1rem;

                        .terms {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: .5rem;

                            label {
                                font-size: 1rem;
                                cursor: pointer;
                            }

                            p {
                                font-size: 0.6rem;
                            }
                        }

                    }
                }
            }
        }

        .phrases {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 2rem;
            flex: 1;

            .phrase {
                display: flex;
                align-items: center;
                gap: 1rem;

                p {
                    font-size: clamp(1rem, 0.75rem + 1.1111vw, 1.5rem);
                }

                img {
                    height: 40px;
                    width: 40px;
                }
            }
        }
    }

    .shop {
        position: relative;
        width: 100%;
        padding: 5rem 0;

        .shop-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        .shop-content {
            position: relative;
            margin: 0 var(--page-margin);
            z-index: 10;

            h5 {
                margin-top: 1rem;
            }

            .items {
                margin-top: 4rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: flex-end;
                gap: 4rem;

                .item {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    width: calc((100% - 8rem) / 3);
                    /* ancho total - gaps (2x4rem) / 3 items por fila */
                    gap: .8rem;

                    img {
                        width: 100%;
                        max-width: 309px;
                        height: auto;
                        object-fit: contain;
                        /* evita deformaciones si cambian proporciones */
                    }

                    .img-sm {
                        width: 40%;
                        height: auto;
                        object-fit: contain;
                    }

                    .article {
                        font-size: clamp(1rem, 0.75rem + 1.1111vw, 1.5rem);
                    }

                    .price {
                        font-size: clamp(0.8rem, 0.6857rem + 0.4156vw, 1.2rem);
                        color: var(--white-85);
                    }

                }

                .btn-secondary {
                    color: var(--white);
                    border: 1px solid var(--white);
                    font-size: clamp(1.125rem, 1.0375rem + 0.3889vw, 1.3rem);
                    padding: 0.5rem 2rem;
                    margin-top: auto;

                    &:hover {
                        color: var(--white-55);
                        border: 1px solid var(--white-55);
                    }
                }

            }
        }
    }
}

/* footer section */
footer {
    background-color: var(--dark);
    color: var(--white);
    margin: 0 var(--page-margin);

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 3rem;
        margin-top: -8rem;
        /* descompensar espacio que se deja arriba al usar alineamiento segun línea de texto */
        margin-bottom: var(--page-margin);

        .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            .name-logo {
                font-size: 3.75rem;
                font-family: var(--font-logo);
                color: var(--red);
            }

            p {
                font-size: 1.1rem;
                margin-top: -.5rem;
                color: var(--red);
            }
        }

        .footer-nav {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;

            .title {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                .line-vertical {
                    width: 3px;
                    height: 38px;
                    background-color: var(--red);
                    border-radius: 10px;
                }

                h6 {
                    font-size: clamp(1.2rem, 1.0857rem + 0.4156vw, 1.6rem);
                    font-weight: bold;
                }
            }

            .main-nav {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                li a {
                    display: flex;
                    align-items: center;
                    gap: 0.6rem;
                    color: var(--white);
                    text-decoration: none;
                    font-size: clamp(1rem, 0.75rem + 1.1111vw, 1.5rem);

                    img {
                        width: 26px;
                        height: auto;
                    }
                }
            }
        }
    }

    .subfooter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: clamp(0.5rem, 0.4143rem + 0.3117vw, 0.8rem);
        border-top: 1px solid var(--red);
        padding: 2rem 0;

        p:first-child {
            text-align: left;
            flex: 1;
        }

        p:nth-child(2) {
            text-align: center;
            flex: 1;
        }

        p:last-child {
            text-align: right;
            flex: 1;

            span {
                font-family: "Vogue";
                font-size: clamp(0.8rem, 0.6857rem + 0.4156vw, 1.2rem);
            }
        }
    }
}

@media screen and (max-width: 1450px) {
    :root {
        --page-margin: clamp(1.5rem, 6vw, 4rem);
    }

    .hero {
        header {
            gap: 2.5rem;

            .name-logo {
                font-size: clamp(1.75rem, -0.625rem + 10.5556vw, 5.5rem);
            }

            nav ul {
                gap: clamp(1rem, 1.5vw, 1.5rem);

                li a {
                    font-size: clamp(1rem, 0.75rem + 1.1111vw, 1.4rem);
                }
            }
        }

        .hero-content {
            h1 {
                font-size: clamp(1.375rem, -0.1375rem + 6.7222vw, 4rem);
            }

            p {
                font-size: clamp(1.1rem, 0.9911rem + 0.396vw, 1.35rem);
            }
        }
    }

    .biography {
        .biography-content {

            .photo-text {
                gap: 1.5rem;

                p {
                    font-size: clamp(1.1rem, 0.9911rem + 0.396vw, 1.35rem);
                }

                .text {
                    max-width: 50%;

                    .quote {
                        font-size: clamp(1.1rem, 0.9rem + 0.6vw, 1.35rem);
                        padding: 1.5rem 4rem;
                        border-radius: 0 clamp(1.5rem, 6vw, 8rem) clamp(1.5rem, 6vw, 8rem) 0;
                    }
                }
            }

            .album-text {
                .line {
                    .album-info {
                        p {
                            font-size: clamp(1.1rem, 0.9911rem + 0.396vw, 1.35rem);
                        }
                    }

                    img {
                        max-width: 370px;
                    }
                }

                .radius-right {
                    border-radius: 0 15rem 15rem 0;
                }

                .radius-left {
                    border-radius: 15rem 0 0 15rem;
                }
            }
        }
    }

    .tour {
        .map-cta {
            font-size: clamp(1.1rem, 0.9911rem + 0.396vw, 1.35rem);
        }
    }

    .contact {
        .contact-content {
            .form-text {
                gap: 6rem;
            }

            .phrases {
                .phrase {
                    p {
                        font-size: clamp(1.1rem, 0.9911rem + 0.396vw, 1.35rem);
                    }
                }
            }
        }

        .shop {
            .shop-content {
                .items {
                    .item {
                        .article {
                            font-size: clamp(1.1rem, 0.9911rem + 0.396vw, 1.35rem);
                        }
                    }
                }
            }
        }
    }

    footer {
        .footer-content {
            gap: 2rem;
            margin-top: -6rem;

            .logo {
                .name-logo {
                    font-size: clamp(2.5rem, 2.3571rem + 0.5195vw, 3rem);
                }
            }

            .footer-nav {
                .title {
                    .line-vertical {
                        height: 32px;
                    }
                }

                .main-nav {

                    li a {
                        font-size: clamp(1.1rem, 0.9911rem + 0.396vw, 1.35rem);

                        img {
                            width: 22px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1220px) {
    :root {
        --page-margin: clamp(1.5rem, 6vw, 3rem);
    }

    .hero {
        header {
            gap: 1.5rem;

            nav ul {
                gap: 1rem;

                li a {
                    font-size: clamp(1rem, 0.7rem + 0.8vw, 1.2rem);
                }
            }

            .name-logo {
                font-size: clamp(1.75rem, -0.625rem + 10.5556vw, 4.5rem);
            }
        }

        .hero-content {
            h1 {
                font-size: clamp(1.375rem, -0.1375rem + 6.7222vw, 3.7rem);
            }
        }
    }

    .stats {
        .stats-content {
            gap: clamp(1.5rem, -0.25rem + 7.7778vw, 3.5rem);

            .stat {
                font-size: clamp(1.1rem, 0.775rem + 1.4444vw, 1.4rem);

                .icon {
                    width: 35px;
                }
            }
        }
    }

    .biography {
        .biography-content {

            .photo-text {
                gap: 1rem;

                .text {
                    max-width: 57%;

                    .quote {
                        padding: clamp(1rem, 2.5vw, 1.7rem) clamp(2rem, 5vw, 3rem);
                        border-radius: 0 10rem 10rem 0;
                    }

                    .social-media {
                        img {
                            width: 30px;
                        }
                    }
                }
            }

            .album-text {
                .line.radius-right {
                    flex-direction: column;
                    align-items: flex-start;
                    border-radius: 0 22rem 22rem 0;
                }

                .line.radius-left {
                    flex-direction: column-reverse;
                    align-items: flex-end;
                    margin-left: auto;
                    border-radius: 22rem 0 0 22rem;
                }

                .line {
                    max-width: 80%;

                    img {
                        margin: 1rem 2rem;
                        max-width: 320px;
                    }

                    .album-info {
                        max-width: 85%;
                    }
                }
            }
        }
    }

    .discography {
        .discography-content {
            .listen-media-container {
                .listen-media {
                    gap: 1.3rem;
                    padding: 2rem 1rem;

                    a {
                        .icon {
                            width: 35px;
                        }
                    }

                }
            }
        }
    }

    .tour {
        .tour-background {
            .tour-content {
                gap: 2.5rem;

                h3 {
                    margin-top: 1.5rem;
                    margin-bottom: 2rem;
                    padding-left: 1rem;
                }

                .concert {
                    padding-left: 1rem;
                    gap: 1.5rem;

                    .date {
                        .month {
                            font-size: clamp(0.8rem, 0.6308rem + 0.6154vw, 1.1rem);
                        }

                        .day {
                            font-size: clamp(2rem, 1.7179rem + 1.0256vw, 2.5rem);
                        }

                        .year {
                            font-size: clamp(0.6rem, 0.4872rem + 0.4103vw, 0.8rem);
                        }
                    }

                    .place {
                        max-width: 30%;
                        gap: .25rem;

                        .city {
                            font-size: clamp(1.2rem, 1.0872rem + 0.4103vw, 1.4rem);
                        }

                        .event {
                            font-size: clamp(0.9rem, 0.7872rem + 0.4103vw, 1.1rem);
                        }
                    }
                }
            }
        }

        h4 {
            margin-top: 3rem;
        }

        h5 {
            margin-top: 0.7rem;
            margin-bottom: 3rem;
        }

        .map-container {
            width: 92%;
            max-width: 1000px;

            .marker-interaction {
                .marker {
                    width: clamp(0.9rem, 0.8rem + 0.4vw, 1.1rem);
                }

                .popup {
                    font-size: clamp(0.65rem, 0.5rem + 0.6vw, 0.95rem);
                    padding: 0.35rem 0.7rem;
                }
            }

            .sao-paulo {
                top: 75%;
                left: 35.3%;
            }

            .santiago {
                top: 81.5%;
                left: 29.5%;
            }

            .medellin {
                top: 63%;
                left: 28.3%;
            }

            .london {
                top: 39.8%;
                left: 46.2%;
            }

            .paris {
                top: 42.3%;
                left: 46.8%;
            }
        }

        .map-cta {
            margin-top: 3rem;
        }
    }

    .contact {

        .contact-content {
            .form-text {
                gap: 5rem;

                .contact-form {
                    margin-top: 3rem;

                    form {
                        gap: 1.7rem;

                        input[type="text"],
                        input[type="email"],
                        select,
                        textarea {
                            padding: 10px;
                        }

                        textarea {
                            height: 130px;
                        }

                        .purpose {
                            gap: 0.4rem;
                        }
                    }

                    .form-footer {
                        .privacy {
                            gap: 0.8rem;

                            input[type="checkbox"] {
                                width: 18px;
                                height: 18px;
                            }

                            .terms {
                                gap: 0.4rem;

                                label {
                                    font-size: clamp(0.9rem, 0.8rem + 0.4vw, 1rem);
                                }

                                p {
                                    font-size: .6rem;
                                }
                            }
                        }
                    }
                }

                .phrases {
                    flex: .8;
                    gap: 1.8rem;

                    .phrase {
                        gap: .8rem;

                        img {
                            width: 32px;
                            height: 32px;
                        }

                        p {
                            font-size: clamp(1.1rem, 0.9872rem + 0.4103vw, 1.3rem);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    :root {
        --page-margin: clamp(1rem, 5vw, 2.5rem);
        --btn-size: .85rem 1.4rem;
        --btn-sm-size: .75rem 0.9rem;

    }

    .btn-primary {
        font-size: clamp(1.15rem, 1.1071rem + 0.1558vw, 1.3rem);
    }

    .btn-secondary {
        font-size: clamp(1.15rem, 1.1071rem + 0.1558vw, 1.3rem);
    }

    .btn-sm {
        font-size: clamp(0.9rem, 0.85vw + 0.5rem, 1rem);
    }

    .menu-off {
        display: none;
    }

    .burger {
        display: flex;
    }

    .hero {
        .hero-content {
            .hero-btns {
                gap: 1.5rem;
            }
        }
    }

    .stats {
        .stats-content {
            gap: clamp(1.2rem, -0.3rem + 7vw, 3rem);

            .stat {
                font-size: clamp(1rem, 0.75rem + 1.3vw, 1.3rem);

                .icon {
                    width: clamp(1.1rem, 0.6rem + 2.5vw, 2rem);
                }
            }
        }
    }

    .biography {
        padding-bottom: clamp(4rem, 8vw, 10rem);

        .biography-content {
            .photo-text {
                flex-direction: column;
                gap: 0.8rem;

                .text {
                    max-width: 100%;

                    .quote {
                        padding: clamp(0.9rem, 2vw, 1.3rem) clamp(1.6rem, 4vw, 2.5rem);
                        font-size: clamp(1.1rem, 0.9804rem + 0.4348vw, 1.25rem);
                    }

                    .social-media {
                        img {
                            width: 28px;
                        }
                    }
                }

                .jud {
                    max-width: 65%;
                }
            }

            .photo-text.reverse {
                flex-direction: column-reverse;
            }

            .album-text {
                .line {

                    img {
                        max-width: 230px;
                    }

                    .album-info {
                        max-width: 85%;

                        h4 {
                            font-size: clamp(1.15rem, 0.9507rem + 0.7246vw, 1.4rem);
                        }
                    }
                }

                .line.radius-right {
                    border-radius: 0 16rem 16rem 0;
                }

                .line.radius-left {
                    border-radius: 16rem 0 0 16rem;
                }
            }
        }
    }

    .discography {
        padding-bottom: 7rem;

        .discography-content {
            h3 {
                margin-top: 3rem;
                padding-left: 1rem;
            }

            .listen-media-container {
                top: 550px;

                .listen-media {
                    gap: 1.2rem;
                    padding: 1.7rem 0.9rem;

                    a {
                        .icon {
                            width: 30px;
                        }
                    }
                }
            }

            .tracks {
                margin-top: 2.5rem;
                gap: 1.7rem;
            }
        }
    }

    .tour {
        .tour-background {
            padding-bottom: 4rem;

            .tour-content {
                gap: 2.2rem;

                h3 {
                    margin-top: 1.2rem;
                    margin-bottom: 1.5rem;
                }

                .concert {
                    gap: 1.2rem;

                    .date {

                        .month {
                            font-size: clamp(0.75rem, 0.6rem + 0.55vw, 1rem);
                        }

                        .day {
                            font-size: clamp(1.8rem, 1.5rem + 0.9vw, 2.3rem);
                        }

                        .year {
                            font-size: clamp(0.55rem, 0.45rem + 0.35vw, 0.75rem);
                        }
                    }

                    .place {
                        max-width: 40%;

                        .city {
                            font-size: clamp(1.1rem, 1rem + 0.4vw, 1.3rem);
                        }

                        .event {
                            font-size: clamp(0.85rem, 0.75rem + 0.35vw, 1rem);
                        }
                    }
                }
            }
        }

        h4 {
            margin-top: 2.5rem;
        }

        h5 {
            margin-top: 0.6rem;
            margin-bottom: 2.5rem;
        }

        .map-container {
            width: 90%;

            .marker-interaction {
                .marker {
                    width: clamp(0.85rem, 0.75rem + 0.35vw, 1rem);
                }

                .popup {
                    font-size: clamp(0.6rem, 0.5rem + 0.5vw, 0.85rem);
                    padding: 0.3rem 0.6rem;
                }
            }
        }

        .map-cta {
            margin-top: 2.5rem;
            gap: 1.2rem;
            font-size: clamp(0.85rem, 0.75rem + 0.35vw, 1rem);
        }
    }

    .contact {
        .contact-content {
            padding-bottom: 5rem;

            .form-text {
                gap: 2rem;

                .contact-form {
                    margin-top: 2.5rem;
                    width: 100%;

                    form {
                        gap: 1.5rem;

                        textarea {
                            height: 120px;
                        }
                    }

                    .purpose {
                        label {
                            font-size: 1rem;
                        }
                    }

                    .form-footer {
                        gap: .6rem;

                        .privacy {


                            .terms {
                                label {
                                    font-size: clamp(0.7rem, 0.5406rem + 0.5797vw, 0.9rem);
                                }

                                p {
                                    font-size: .45rem;
                                }
                            }
                        }
                    }
                }

                .phrases {
                    .phrase {
                        font-size: 1.1rem;

                        img {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
        }
    }

    footer {
        .footer-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 0;
            margin-top: -1rem;
            padding-bottom: 1rem;

            .media-footer {
                display: flex;
                justify-content: flex-end;
                gap: 2rem;
                align-items: center;
                margin-left: auto;

                .media-nav {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    gap: 1rem;
                    list-style: none;

                    li {
                        a {
                            display: flex;
                            align-items: center;

                            img {
                                width: clamp(1.25rem, 0.6522rem + 2.1739vw, 2rem);
                                height: clamp(1.25rem, 0.6522rem + 2.1739vw, 2rem);
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:660px) {}